

<div class="banner">
    <div class="content">
        
<marquee behavior="alternate" [scrollAmount]="15"> <h3 class="mb-5">Apply for a personal loan without ever leaving your couch.</h3> </marquee>

        <a style="margin-left: 400px;" href="customer">Apply NOW <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">How to get <span class="highlight">Personal Loan</span></h1>
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>select loan type</p>
            </div>
        </div>
<!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>fill the details</p>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>wait for 24 hours for approval</p>
            </div>
        </div>
    </div>
</div>




